/* COLORS */

$white: white;
$black: #090911;
$dark-gray2: rgb(44, 44, 44);
$dark-gray: #424242;
$dark-gray3: #7a7a7a;
$light-gray: #b8b8b8;
$light-gray2: #ebebeb;

$green: #20f19a;
$yellow: #ddbe11;
$pink: #ff64a3;
$blue: #00c1cf;
