@import "./typography";
@import "./variables";
@import "./button";

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* :focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $dark-gray2;
  color: $white;
  height: 100%;
}
